@model SpeedDiagnosticModel

<div class="card-body">
    @await Html.PartialAsync("Table", new DataTablesModel
    {
        Name = "har-grid",
        UrlRead = new DataUrl("HarList", "SpeedDiagnostic", new RouteValueDictionary { [nameof(Model.SpeedDiagnosticHarSearchModel.ReportId)] = Model.ReportId }),
        Length = Model.SpeedDiagnosticHarSearchModel.PageSize,
        LengthMenu = Model.SpeedDiagnosticHarSearchModel.AvailablePageSizes,
        ColumnCollection = new List<ColumnProperty>
        {
            new ColumnProperty(nameof(SpeedDiagnosticHarModel.Url))
            {
                Title = T("Admin.Customers.SpeedDiagnostic.Url").Text,
                Width = "300"
            },
            new ColumnProperty(nameof(SpeedDiagnosticHarModel.Size))
            {
                Title = T("Admin.Customers.SpeedDiagnostic.Size").Text,
                Width = "100"
            },
            new ColumnProperty(nameof(SpeedDiagnosticHarModel.Status))
            {
                Title = T("Admin.Customers.SpeedDiagnostic.Status").Text,
                Width = "100"
            },
            new ColumnProperty(nameof(SpeedDiagnosticHarModel.Time))
            {
                Title = T("Admin.Customers.SpeedDiagnostic.Time").Text,
                Width = "200",
            }
        }
    })   
</div>
