@model SpeedDiagnosticModel

<div class="card-body">
    <div class="cards-group">
        <div class="card card-default">
            <div class="card-body">
                @if (Model.Id > 0)
                {
                    <div class="form-group row">
                        <div class="col-md-3">
                            <nop-label asp-for="SiteUrl" />
                        </div>
                        <div class="col-md-9">
                            <div class="form-text-row">@Model.SiteUrl</div>
                        </div>
                    </div>
                }
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="Email" />
                    </div>
                    <div class="col-md-9">
                        <div class="form-text-row">@Model.Email</div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="ReportUrl" />
                    </div>
                    <div class="col-md-9">
                        <a href="@Model.ReportUrl" class="form-text-row">@Model.ReportUrl</a>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="JobGuid" />
                    </div>
                    <div class="col-md-9">
                        <div class="form-text-row">@Model.JobGuid</div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="Location" />
                    </div>
                    <div class="col-md-9">
                        <div class="form-text-row">@Model.Location</div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="Status" />
                    </div>
                    <div class="col-md-9">
                        <div class="form-text-row">@Model.Status</div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="GTMetrixTestUrl" />
                    </div>
                    <div class="col-md-9">
                        <div class="form-text-row">@Model.GTMetrixTestUrl</div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="GTMetrixReportUrl" />
                    </div>
                    <div class="col-md-9">
                        <div class="form-text-row">@Model.GTMetrixReportUrl</div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="ErrorMessage" />
                    </div>
                    <div class="col-md-9">
                        <div class="form-text-row">@Model.ErrorMessage</div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="CreatedOnUtc" />
                    </div>
                    <div class="col-md-9">
                        <div class="form-text-row">@Model.CreatedOnUtc</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
