﻿@model SpeedDiagnosticModel

@{
    const string hideInfoBlockAttributeName = "SpeedDiagnosticPage.HideInfoBlock";
    var customer = await workContext.GetCurrentCustomerAsync();
    var hideInfoBlock = await genericAttributeService.GetAttributeAsync<bool>(customer, hideInfoBlockAttributeName);

    const string hideReportBlockAttributeName = "SpeedDiagnosticPage.HideReportBlock";
    var hideReportBlock = await genericAttributeService.GetAttributeAsync<bool>(customer, hideReportBlockAttributeName, defaultValue: true);

    const string hideHarBlockAttributeName = "SpeedDiagnosticPage.HideHarBlock";
    var hideHarBlock = await genericAttributeService.GetAttributeAsync<bool>(customer, hideHarBlockAttributeName, defaultValue: true);
}

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <nop-cards id="speed_diagnostic-cards">
                <nop-card asp-name="speed_diagnostic-info" asp-icon="fas fa-info" asp-title="@T("Admin.SpeedDiagnostics.Info")" asp-hide-block-attribute-name="@hideInfoBlockAttributeName" asp-hide="@hideInfoBlock">@await Html.PartialAsync("_CreateOrUpdate.Info", Model)</nop-card>
                @if (Model.ReportId > 0)
                {
                    <nop-card asp-name="speed_diagnostic-report" asp-icon="fas fa-user" asp-title="@T("Admin.SpeedDiagnostics.Report")" asp-hide-block-attribute-name="@hideReportBlockAttributeName" asp-hide="@hideReportBlock">@await Html.PartialAsync("_CreateOrUpdate.Report", Model)</nop-card>
                    <nop-card asp-name="speed_diagnostic-har" asp-icon="fas fa-user" asp-title="@T("Admin.SpeedDiagnostics.Har")" asp-hide-block-attribute-name="@hideHarBlockAttributeName" asp-hide="@hideHarBlock">@await Html.PartialAsync("_CreateOrUpdate.Har", Model)</nop-card>
                }
            </nop-cards>
        </div>
    </div>
</section>