@model SpeedDiagnosticModel

<div class="card-body">
    <div class="cards-group">
        <div class="card card-default">
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="Report.GtMetrixGrade" />
                    </div>
                    <div class="col-md-9">
                        <div class="form-text-row">@Model.Report.GtMetrixGrade</div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="Report.PerformanceScore" />
                    </div>
                    <div class="col-md-9">
                        <div class="form-text-row">@Model.Report.PerformanceScore</div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="Report.StructureScore" />
                    </div>
                    <div class="col-md-9">
                        <div class="form-text-row">@Model.Report.StructureScore</div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="Report.HtmlBytes" />
                    </div>
                    <div class="col-md-9">
                        <div class="form-text-row">@Model.Report.HtmlBytes</div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="Report.PageBytes" />
                    </div>
                    <div class="col-md-9">
                        <div class="form-text-row">@Model.Report.PageBytes</div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="Report.PageRequests" />
                    </div>
                    <div class="col-md-9">
                        <div class="form-text-row">@Model.Report.PageRequests</div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="Report.RedirectDuration" />
                    </div>
                    <div class="col-md-9">
                        <div class="form-text-row">@Model.Report.RedirectDuration</div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="Report.ConnectDuration" />
                    </div>
                    <div class="col-md-9">
                        <div class="form-text-row">@Model.Report.ConnectDuration</div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="Report.BackendDuration" />
                    </div>
                    <div class="col-md-9">
                        <div class="form-text-row">@Model.Report.BackendDuration</div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="Report.TimeToFirstByte" />
                    </div>
                    <div class="col-md-9">
                        <div class="form-text-row">@Model.Report.TimeToFirstByte</div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="Report.FullyLoadedTime" />
                    </div>
                    <div class="col-md-9">
                        <div class="form-text-row">@Model.Report.FullyLoadedTime</div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="Report.SpeedIndex" />
                    </div>
                    <div class="col-md-9">
                        <div class="form-text-row">@Model.Report.SpeedIndex</div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="Report.LargestContentfulPaint" />
                    </div>
                    <div class="col-md-9">
                        <div class="form-text-row">@Model.Report.LargestContentfulPaint</div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="Report.TimeToInteractive" />
                    </div>
                    <div class="col-md-9">
                        <div class="form-text-row">@Model.Report.TimeToInteractive</div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="Report.TotalBlockingTime" />
                    </div>
                    <div class="col-md-9">
                        <div class="form-text-row">@Model.Report.TotalBlockingTime</div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="Report.CumulativeLayoutShift" />
                    </div>
                    <div class="col-md-9">
                        <div class="form-text-row">@Model.Report.CumulativeLayoutShift</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

