@model SpeedDiagnosticModel
@{
    //page title
    ViewBag.PageTitle = T("Admin.SpeedDiagnostics.EditSpeedDiagnosticDetails").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("SpeedDiagnostics");
}
<form asp-controller="SpeedDiagnostic" asp-action="Edit" method="post">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.SpeedDiagnostics.EditSpeedDiagnosticDetails") - @Model.SiteUrl
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Admin.SpeedDiagnostics.BackToList")</a>
            </small>
        </h1>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>
<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="speed_diagnostic-delete" />