@model SpeedDiagnosticSearchModel

@{
    //page title
    ViewBag.PageTitle = T("Admin.SpeedDiagnostics").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("SpeedDiagnostics");
}

@{
    const string hideSearchBlockAttributeName = "SpeedDiagnosticPage.HideSearchBlock";
    var hideSearchBlock = await genericAttributeService.GetAttributeAsync<bool>(await workContext.GetCurrentCustomerAsync(), hideSearchBlockAttributeName);
}

<div class="content-header clearfix">
    <h1 class="float-left">
        @T("Admin.SpeedDiagnostics")
    </h1>
</div>

<section class="content">
    <div class="container-fluid">
    <div class="form-horizontal">
        <div class="cards-group">
            <div class="card card-default card-search">
                <div class="card-body">
                    <div class="row search-row @(!hideSearchBlock ? "opened" : "")" data-hideAttribute="@hideSearchBlockAttributeName">
                        <div class="search-text">@T("Admin.Common.Search")</div>
                        <div class="icon-search"><i class="fas fa-search" aria-hidden="true"></i></div>
                        <div class="icon-collapse"><i class="far fa-angle-@(!hideSearchBlock ? "up" : "down")" aria-hidden="true"></i></div>
                    </div>

                    <div class="search-body @(hideSearchBlock ? "closed" : "")">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group row">
                                    <div class="col-md-4">
                                        <nop-label asp-for="SiteUrl" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-editor asp-for="SiteUrl" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-4">
                                        <nop-label asp-for="Email" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-editor asp-for="Email" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="form-group row">
                                    <div class="col-md-4">
                                        <nop-label asp-for="LocationId" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-select asp-for="LocationId" asp-items="Model.AvailableLocation"/>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-4">
                                        <nop-label asp-for="StatusId" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-select asp-for="StatusId" asp-items="Model.AvailableStatus"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-center col-12">
                                <button type="button" id="search-jobs" class="btn btn-primary btn-search">
                                    <i class="fas fa-search"></i>
                                    @T("Admin.Common.Search")
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card card-default">
                <div class="card-body">
                    @await Html.PartialAsync("Table", new DataTablesModel
                    {
                        Name = "jobs-grid",
                        UrlRead = new DataUrl("List", "SpeedDiagnostic", null),
                        SearchButtonId = "search-jobs",
                        Length = Model.PageSize,
                        LengthMenu = Model.AvailablePageSizes,
                        Filters = new List<FilterParameter>
                        {
                            new FilterParameter(nameof(Model.SiteUrl)),
                            new FilterParameter(nameof(Model.Email)),
                            new FilterParameter(nameof(Model.LocationId)),
                            new FilterParameter(nameof(Model.StatusId)),
                        },
                        ColumnCollection = new List<ColumnProperty>
                        {
                            new ColumnProperty(nameof(SpeedDiagnosticModel.SiteUrl))
                            {
                                Title = T("Admin.SpeedDiagnostic.Fields.SiteUrl").Text,
                                Width = "200"
                            },
                            new ColumnProperty(nameof(SpeedDiagnosticModel.Email))
                            {
                                Title = T("Admin.SpeedDiagnostic.Fields.Email").Text,
                                Width = "200"
                            },
                            new ColumnProperty(nameof(SpeedDiagnosticModel.Location))
                            {
                                Title = T("Admin.SpeedDiagnostic.Fields.Location").Text,
                                Width = "200"
                            },
                            new ColumnProperty(nameof(SpeedDiagnosticModel.Status))
                            {
                                Title = T("Admin.SpeedDiagnostic.Fields.Status").Text,
                                Width = "200"
                            },
                            new ColumnProperty($"{nameof(SpeedDiagnosticModel.Report)}.{nameof(SpeedDiagnosticModel.SpeedReportModel.GtMetrixGrade)}")
                            {
                                Title = T("Admin.SpeedDiagnostic.Fields.GtMetrixGrade").Text,
                                Width = "200"
                            },
                            new ColumnProperty($"{nameof(SpeedDiagnosticModel.Report)}.{nameof(SpeedDiagnosticModel.SpeedReportModel.PerformanceScore)}")
                            {
                                Title = T("Admin.SpeedDiagnostic.Fields.PerformanceScore").Text,
                                Width = "200"
                            },
                            new ColumnProperty(nameof(SpeedDiagnosticModel.CreatedOnUtc))
                            {
                                Title = T("Admin.SpeedDiagnostic.Fields.CreatedOnUtc").Text,
                                Width = "120",
                                Render = new RenderDate()
                            },
                            new ColumnProperty(nameof(SpeedDiagnosticModel.Id))
                            {
                                Title = T("Admin.Common.Edit").Text,
                                Width = "100",
                                ClassName = NopColumnClassDefaults.Button,
                                Render = new RenderButtonEdit(new DataUrl("Edit"))
                            }
                        }
                    })
                </div>
            </div>
        </div>
    </div>
</div>
</section>