﻿@model string
@{
    Layout = "_ColumnsOne";
}
<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td style="text-align:center; padding:200px">
            <h1><b>Processing the result…</b></h1>
        </td>
    </tr>
</table>
<div class="page contact-page">
    <div class="page-title">
        <h1>Enter Email to receive report</h1>
    </div>
    <div class="page-body">
        <form id="email_form">
            <div class="fieldset">
                <div class="form-fields">
                    <div class="inputs">
                        <label>Email</label>
                        <input type="text" id="email" placeholder="@T("ContactUs.Email.Hint")" />
                    </div>
                </div>
                <div id="message"></div>
            </div>
        </form>
        <div class="buttons">
            <button type="button" id="send-email" name="send-email" class="button-1 contact-us-button">Send</button>
        </div>
    </div>
</div>



<script asp-location="Footer">
    $(document).ready(function () {
        var id = "@Model";
        var processCount = 0;
        let checkProcess = window.setInterval(function () {
            $.ajax({
                type: "GET",
                url: "@(Url.Action("CheckSpeedDiagnosticResult", "Common"))",
                cache: false,
                data: { jobGuid: id },
                success: function (result) {
                    if (result.Success) {
                        clearInterval(checkProcess);
                        window.location.href = '@Url.RouteUrl("SpeedDiagnosticResult")' + "?jobGuid=" + result.JobGuid;
                    }

                    if (!result.Success && result.BackToReport) {
                        clearInterval(checkProcess);
                        window.location.href = '@Url.RouteUrl("SpeedDiagnostic")' + "?jobGuid=" + id;
                    }

                    processCount++;
                }
            });

            if (processCount == 30) {
                clearInterval(checkProcess);
                window.location.href = '@Url.RouteUrl("SpeedDiagnosticResult")' + "?jobGuid=" + id;
            }
        }, 5000);

        $('#send-email').click(function () {
            var customer_email = $('#email').val();
            $.ajax({
                type: "GET",
                url: "@(Url.Action("SetJobQueueCustomerEmail", "Common"))",
                cache: false,
                data: { jobGuid: id, email: customer_email },
                success: function (result) {
                    if (result.Success) {
                        $('.page-body').html("<br/><h2 style='text-align: center;'>Sent successfully</h2>");
                    } else {
                        $('#message').html("<p>" + result.Message + "</p>");
                    }
                }
            });
        });
    });
</script>
