﻿@model SpeedDiagnosticResultModel
@{
    Layout = "_ColumnsOne";

    //title
    NopHtml.AddTitleParts("Speed Diagnostic Result");
    //page class
    NopHtml.AppendPageCssClassParts("html-contact-page");
}
<div class="page contact-page">
    <div class="page-title">
        <h1>Speed Diagnostic Result</h1>
    </div>
    <div class="page-body">
        @if (string.IsNullOrWhiteSpace(Model.Error))
        {
            <form asp-route="SpeedDiagnosticResult" method="post">
                <div class="fieldset">
                    <div class="form-fields">
                        @if (Model.ShowSuggestedSolution)
                        {
                            <div class="buttons">
                                <a href="@Url.RouteUrl("SpeedDiagnosticSuggestedSolution", new { jobGuid = Model.JobGuid.ToString() })" class="button-1 register-continue-button">View list of actionable items</a>
                            </div>
                        }
                        else
                        {
                            <div asp-validation-summary="ModelOnly" class="message-error"></div>
                            <input asp-for="JobId" hidden="hidden"/>
                            <input asp-for="JobGuid" hidden="hidden"/>
                            <div class="inputs">
                                <label asp-for="CustomerSuggestedSolution.Email" asp-postfix=":"></label>
                                <input asp-for="CustomerSuggestedSolution.Email" />
                                <nop-required />
                                <span asp-validation-for="CustomerSuggestedSolution.Email"></span>
                            </div>
                            <div class="buttons">
                                <button type="submit" name="send-email" class="button-1 contact-us-button">Show list of actionable items</button>
                            </div>
                        }
                        <br/>
                        <div class="inputs">
                            <label>Site url:</label>
                            <input asp-for="SiteUrl" disabled="disabled" />
                        </div>
                        <div class="inputs">
                            <label>Location:</label>
                            <input asp-for="Location" disabled="disabled" />
                        </div>
                        <div class="inputs">
                            <label>GTMetrix grade:</label>
                            <input asp-for="Gtmetrix_grade" disabled="disabled" />
                        </div>
                        <div class="inputs">
                            <label>Performance score (%):</label>
                            <input asp-for="Performance_score" disabled="disabled" />
                        </div>
                        <div class="inputs">
                            <label>Structure score (%):</label>
                            <input asp-for="Structure_score" disabled="disabled" />
                        </div>
                        <div class="inputs">
                            <label>Html bytes (bytes):</label>
                            <input asp-for="Html_bytes" disabled="disabled" />
                        </div>
                        <div class="inputs">
                            <label>Page bytes (bytes):</label>
                            <input asp-for="Page_bytes" disabled="disabled" />
                        </div>
                        <div class="inputs">
                            <label>Page requests:</label>
                            <input asp-for="Page_requests" disabled="disabled" />
                        </div>
                        <div class="inputs">
                            <label>Redirect duration (ms):</label>
                            <input asp-for="Redirect_duration" disabled="disabled" />
                        </div>
                        <div class="inputs">
                            <label>Connect duration (ms):</label>
                            <input asp-for="Connect_duration" disabled="disabled" />
                        </div>
                        <div class="inputs">
                            <label>Backend duration (ms):</label>
                            <input asp-for="Backend_duration" disabled="disabled" />
                        </div>
                        <div class="inputs">
                            <label>Time to first byte (ms):</label>
                            <input asp-for="Time_to_first_byte" disabled="disabled" />
                        </div>
                        <div class="inputs">
                            <label>Fully loaded time (ms):</label>
                            <input asp-for="Fully_loaded_time" disabled="disabled" />
                        </div>
                        <div class="inputs">
                            <label>Speed index (ms):</label>
                            <input asp-for="Speed_index" disabled="disabled" />
                        </div>
                        <div class="inputs">
                            <label>Largest contentful paint (ms):</label>
                            <input asp-for="Largest_contentful_paint" disabled="disabled" />
                        </div>
                        <div class="inputs">
                            <label>Time to interactive (ms):</label>
                            <input asp-for="Time_to_interactive" disabled="disabled" />
                        </div>
                        <div class="inputs">
                            <label>Total blocking time (ms):</label>
                            <input asp-for="Total_blocking_time" disabled="disabled" />
                        </div>
                        <div class="inputs">
                            <label>Cumulative layout shift:</label>
                            <input asp-for="Cumulative_layout_shift" disabled="disabled" />
                        </div>
                        <div class="inputs">
                            <label asp-for="Har" asp-postfix=":"></label>
                        </div>
                        <table style="width:100%;" class="data-table">
                            <thead>
                            <tr>
                                <th>
                                    Url
                                </th>
                                <th>
                                    Size (bytes)
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>
                                    Time (ms)
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            @for (var i = 0; i < Model.Har.Count; i++)
                            {
                                var item = Model.Har[i];
                                <tr @(i % 2 == 0 ? Html.Raw(" class=\"odd\"") : Html.Raw(" class=\"even\""))>
                                    <td style="max-width: 0;overflow-wrap: break-word;width: 70%;">
                                        @item.Url
                                    </td>
                                    <td style="max-width: 0;width: 10%;">
                                        @item.Size
                                    </td>
                                    <td style="max-width: 0;width: 10%;">
                                        @item.Status
                                    </td>
                                    <td style="max-width: 0;width: 10%;">
                                        @item.Time
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        }
        else
        {
            <div class="result" style="text-align:center">
                @Model.Error
            </div>
            <div class="buttons">
                <a href="@Url.RouteUrl("SpeedDiagnostic")" class="button-1 register-continue-button">@T("Common.Continue")</a>
            </div>
        }
    </div>
</div>
