﻿@model SpeedDiagnosticResultModel
@{
    Layout = "_ColumnsOne";

    //title
    NopHtml.AddTitleParts("Speed Diagnostic Suggested Solution");
    //page class
    NopHtml.AppendPageCssClassParts("html-contact-page");
}
<div class="page contact-page">
    <div class="page-title">
        <h1>Speed Diagnostic Suggested Solution</h1>
    </div>
    <div class="page-body">
        <form>
            <div class="fieldset">
                <div class="form-fields">
                    <table style="width:100%;" class="data-table">
                        <thead>
                        <tr>
                            <th>
                                List of Actionable Items
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        @for (var i = 0; i < Model.Suggestion.Count; i++)
                        {
                            var item = Model.Suggestion[i];
                            <tr @(i % 2 == 0 ? Html.Raw(" class=\"odd\"") : Html.Raw(" class=\"even\""))>
                                <td style="overflow-wrap: break-word;">
                                    @item
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="buttons">
                <a href="@Url.RouteUrl("SpeedDiagnosticResult", new { jobGuid = Model.JobGuid })" class="button-1 register-continue-button">@T("Common.Back")</a>
            </div>
        </form>
    </div>
</div>
