﻿@model SpeedDiagnosticModel
@{
    Layout = "_ColumnsOne";

    //title
    NopHtml.AddTitleParts("Speed Diagnostic Tool");
    //page class
    NopHtml.AppendPageCssClassParts("html-contact-page");
}
<div class="page contact-page">
    <div class="page-title">
        <h1>Speed Diagnostic Tool</h1> 
    </div>
    <div class="page-body">
        <div class="result">
            @Model.Error
        </div>
        <form asp-route="SpeedDiagnostic" method="post">
            <div asp-validation-summary="ModelOnly" class="message-error"></div>
            <div class="fieldset">
                <div class="form-fields">
                    <div class="inputs">
                        <label asp-for="Url" asp-postfix=":"></label>
                        <input asp-for="Url" />
                        <nop-required />
                        <span asp-validation-for="Url"></span>
                    </div>
                    <div class="inputs">
                        <label asp-for="LocationId" asp-postfix=":"></label>
                        <select asp-for="LocationId" asp-items="Model.AvailableLocation" class="enquiry"></select>
                        <nop-required />
                        <span asp-validation-for="LocationId"></span>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <button type="submit" name="send-email" class="button-1 contact-us-button">Analyse my site</button>
            </div>
        </form>
    </div>
</div>
